body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    
    
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width:400px;
    height:400px;
    border-radius: 50px;
    background-color: blueviolet;
    text-align: center;
    padding-top:250px;
    box-shadow: 0px 0px 20px 2px pink; ;
    
}