body{
    font-family: san-serif;
}

.box{
    border:2px solid rgb(126, 124, 124);
    border-radius: 10px;
    position: absolute;
    top:20%;
    left: 35%;
    text-align: center;
}

img{
width: 290px;
height: 290px;
margin: 10px 50px 10px 50px;
}

p{
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

p.rate{
    margin: 10px 0 20px 0;
    font-size: 1.1em;
    color : white;
    background-color: black;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border-style: none;
}

button:hover{
    text-transform: uppercase;
    cursor: pointer;
    }

    img:hover{
        transform: scale(1.1);
    }